<header>
  <nav>
  <container id=nav-bar>
    <div id = "logo">
      <a href="http://localhost:8080/">
      <img src="https://www.freelogodesign.org/file/app/client/thumb/36739334-5af6-4db2-94a2-c4dd164e2801_200x200.png?1610402991648">
      </a>
    </div>
    <div id="search-form">
    <form method="GET" action="/search">
      <input type="text" name="itemName" id="nav-input" placeholder="Search"></input>
      <select id = "categories-dropdown" placeholder="categories" name="categories">
        <option value="" disabled selected>Categories</option>
        <option value = "1">Cars</option>
        <option value = "2">Misc</option>
        <option value = "3">Pets</option>
        <option value = "4">Furniture</option>
        <option value = "5">Electronics</option>
        <option value = "6">Real Estate</option>
        <option value = "7">Clothing</option>
        <option value = "8">Toys/Games</option>
        <option value = "9">Appliances</option>
        <option value = "10">Tools</option>
        <option value = "11">Sporting Goods</option>
        <option value = "12">Books</option>
      </select>
      <input type="hidden" name="minPrice" value=0>
      <input type="hidden" name="maxPrice" value=2500001>
      <button type="search" value="Search" class="btn btn-outline-dark">Search</button>
    </form>
    </div>
    <a href="http://localhost:8080/postad" class="button" style="padding-right: 23px;"><button id="post-ad-nav">Post Ad</button></a>
  </container>
  </nav>
</header>
