<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="item-grid">
    <% for (let item of items) { %>
      <div class="item"> <header><p><%= item.name %></p><img src="<%= item.image_url %>" /></header><footer><p><%= ("$" + item.price / 100) %></p><a><p class="star-btn">☆</p></a></footer></div>
    <% } %>
    </div>
  </body>
</html>
