<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Messages</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/77de315972.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1 style="padding-top: 130px; display: flex; justify-content: center;">Messages</h1>
    <div class="messages-box">
      <% for (let message of messages) { %>
        <% if (message.from_buyer) { %>
          <p id="from-buyer" style="display: inline-block; margin-right: auto; background-color: #4a82de; color: white">
            <%= message.content %>
          </p>
        <% } else { %>
          <p id="from-seller" style="display: inline-block; margin-left: auto; background-color: green; color: white"">
            <%= message.content %>
          </p>
        <% } %>
      <% } %>
      <form method="POST" action="/<%=conversation_id%>" id="message-buyer-seller">
        <input type="text" name="message" id="message-input"></input>
        <button type="submit" value="submit" id="send-message">Send</button>
      </form>
    </div>
  </body>
</html>
