// See: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,200&display=swap');

body {
  background-color: #dbdfdf;

  h1 {
    color: black;
  }
}

//nav bar
#nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4669a7;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

#logo {
  padding-left: 50px;
}

#post-ad-button {
  padding-right: 25px;
};

.btn-outline-dark {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
}
.btn-outline-dark:hover {
  background-color: #f59e42;
  transform: translateY(-1px) scale(1.02);
}
#nav-input, #categories-dropdown {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
}
#nav-input:hover, #categories-dropdown:hover {
  background-color: #f59e42;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}
.button:hover {
  color: #f59e42;
}

//Home page
.greeting {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
.item-grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(320px, 320px));
  grid-auto-rows: 258px;
  padding: 68px 68px;
  padding-top: 20px;
  justify-content: center;
}

.item {
  padding: 15px 15px;
  border: transparent;
  border-width: 2px;
  padding-top: 1px;
  padding-bottom: 10px;
  border-radius: 7px;
  background-color: white;
  box-shadow:rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  background-size: 100% 77%;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;

  // img {
  //   height: 150px;
  //   border-radius: 22px;
  //   max-width: 320px;
  // }
  a {
    text-decoration: none;
    color: black;
  }
  i {
    line-height: 2em;
    font-size: 25px;
  }
  i:hover {
    color: #f23a3a;
    transform: translateY(-1px) scale(1.03);
  }
  header {
    font-size: 18px;
    display: flex;
    justify-content: space-between
  }
  header p {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 6px;
    border-radius: 10px;
  }
  header i {
    padding-top: 8px;
    border-radius: 100px;
    color: rgba(255, 255, 255, 0.6)
  }
  footer {
    color: black;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 122px;
    font-size: 16px;
  }
};

.item:hover {
  box-shadow: rgba(2, 8, 20, 0.6) 0px 1em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.195em 1em;
  transform: translateY(-3px) scale(1.02);
}

fa-heart {
  box-shadow: rgba(254, 0, 0, 0.6) 0px 1em 1.175em;
}

#fas-fa-heart {
  color: red;
}

#item-header {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

// Item Page

.item-page-body {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

#item-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 28px 28px;
  border: transparent;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(2, 8, 20, 0.6) 0px 1em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.195em 1em;
  width: 50em;
  img {
    max-height: 250px;
    border-radius: 5px;
    max-width: 45em;
  }
  #price-and-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    padding: 20px 18px;
    background-color: white;
  }
  #title-and-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    color: #20381f;
    font-size: 14px;
  }
  .fas:hover {
    background-color: #f59e42;
    transform: translateY(-1px) scale(1.03);
  }
  .fas {
    border: solid #20381f;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #bbc4c4;
  }
}
.btn-primary {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: #f59e42;
  transform: translateY(-1px) scale(1.02);
}
.form-control {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
  height: 40px;
}
.form-control:hover {
  background-color: #f59e42;
}

//post-ad
h1 {
  font-family: 'Montserrat', sans-serif;
}

#postad-form {
  display: inline-block;
  width: 500px;
  line-height: 2em;
  font-family: 'Montserrat', sans-serif;
}

#post-ad-submit {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

.post-ad-page {
  border: solid black;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 18px;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  background-color: #f59e42;
  font-family: 'Montserrat', sans-serif;
}
