// See: https://sass-lang.com/

body {
  background-color: #EEE;
  width: 100%;


  h1 {
    color: #244751;
  }
}

//nav bar
#nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #008B8B;
  height: 100px;

  position: fixed;
  top: 0;
}

#logo {
  padding-right: 350px;
}

#search-form {
  padding-right: 350px;
}


//Home page
.item-grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 265px;
  padding: 28px 28px;
  padding-top: 100px;
}

.item {
  padding: 15px 15px;
  border: solid #20381f;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: lightblue;
  img {
    width: 232px;
    height: 150px;
    border-radius: 5px;
  }
}

.item:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}

.star-btn:hover {
  background-color: gold;
}

#item-header {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
}
