// See: https://sass-lang.com/

body {
  background-color: #EEE;
  width: 100%;


  h1 {
    color: #244751;
  }
}

#nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 20px;
  background-color: #008B8B;
  height: 100px;

  position: fixed;
  top: 0;
}

#logo {
  padding-right: 350px;
}

#search-form {
  padding-right: 350px;
}
