// See: https://sass-lang.com/

body {
  background-color: #bbc4c4;

  h1 {
    color: #244751;
  }
}

//nav bar
#nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #008B8B;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1;
}

#logo {
  padding-left: 50px;
}

#post-ad-button {
  padding-right: 25px;
};

.btn-outline-dark {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
}
.btn-outline-dark:hover {
  background-color: #f59e42;
  transform: translateY(-1px) scale(1.02);
}
#nav-input, #categories-dropdown {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
}
#nav-input:hover, #categories-dropdown:hover {
  background-color: #f59e42;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}
.button:hover {
  color: #f59e42;
}

//Home page
.item-grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(275px, 1fr));
  grid-auto-rows: 290px;
  padding: 28px 28px;
  padding-top: 120px;
}

.item {
  padding: 15px 15px;
  border: solid #20381f;
  border-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
  background-color: #e8e6e6;
  img {
    height: 150px;
    border-radius: 3px;
    max-width: 320px;
  }
  a {
    text-decoration: none;
    color: #244751;
  }
  i {
    line-height: 3em;
  }
  i:hover {
    color: #f59e42;
    transform: translateY(-1px) scale(1.03);
  }
  header {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #20381f;
    line-height: 0.01em;
  }
};

.item:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.45em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.195em 0.5em;
  transform: translateY(-3px) scale(1.05);
  border: solid #008B8B;
}

.star-btn:hover {
  background-color: gold;
}


#item-header {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

// Item Page

.item-page-body {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 20px;
}

#item-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 28px 28px;
  border: solid #20381f;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #e8e6e6;
  width: 50em;
  img {
    max-height: 250px;
    border-radius: 5px;
    max-width: 45em;
  }
  #price-and-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    border: solid #bbc4c4;
    border-radius: 16px;
    border-width: 1px;
    padding: 20px 18px;
    background-color: #008b8ba5;
  }
  #title-and-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    color: #20381f;
    font-size: 14px;
  }
  .fas:hover {
    background-color: #f59e42;
    transform: translateY(-1px) scale(1.03);
  }
  .fas {
    border: solid #20381f;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #bbc4c4;
  }
}
.btn-primary {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: #f59e42;
  transform: translateY(-1px) scale(1.02);
}
.form-control {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
  height: 40px;
}
.form-control:hover {
  background-color: #f59e42;
}

//post-ad

#postad-form {
  display: inline-block;
  width: 500px;
  line-height: 2em;
}

#post-ad-submit {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
}

.post-ad-page {
  border: solid black;
  margin-left: 18px;
  margin-right: 18px;
  border-radius: 18px;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  background-color: #f59e42;
}
