// See: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,200&display=swap');

body {
  background-color: #edf2f2;

  h1 {
    color: black;
  }
}

//nav bar
#nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4a82de;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

#logo {
  padding-left: 50px;
}

#post-ad-button {
  padding-right: 25px;
};

#post-ad-nav {
  border: transparent;
  padding: 3px 10px;
  border-radius: 10px;
  margin-right: 30px;
}

#post-ad-nav:hover {
  transform: translateY(-1px) scale(1.02);
}

.btn-outline-dark {
  border: transparent;
  padding: 3px 10px;
  border-radius: 10px;
}
.btn-outline-dark:hover {
  transform: translateY(-1px) scale(1.02);
}
#nav-input, #categories-dropdown {
  border: transparent;
  padding: 3px 10px;
  border-radius: 10px;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}
.button:hover {
  color: #f59e42;
}

.nav-icons {
  display:flex;
  flex-direction:row;
  justify-content: start;
  //line-height: 2em;
}

.fa-envelope {
  font-size: 30px;
  color: white;
  padding-right: 5px;
}
.fa-envelope:hover {
  transform: translateY(-1px) scale(1.02);
}

.fa-star {
  font-size: 30px;
  color: #E6BF00;
  margin-right: 50px;
}
.fa-star:hover {
  transform: translateY(-1px) scale(1.02);
}

.circle{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #fff;
  margin-right: 50px;
    p{
      font-weight: bold;
      display:flex;
      flex-direction: column;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }
    p span{
      font-weight: normal;
      font-size: .5em
    }
}


//Home page
.greeting {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
.item-grid{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(320px, 320px));
  grid-auto-rows: 258px;
  padding: 68px 68px;
  padding-top: 20px;
  justify-content: center;
}

.item {
  padding: 1px 10px;
  border: transparent;
  border-width: 2px;
  padding-top: 1px;
  padding-bottom: 10px;
  border-radius: 7px;
  background-color: white;
  background-size: 100% 70%;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  box-shadow: rgba(2, 8, 20, 0.3) 0px 1em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.295em 1em;
  a {
    text-decoration: none;
    color: black;
  }
  i {
    line-height: 2em;
    font-size: 25px;
  }
  i:hover {
    transform: translateY(-1px) scale(1.2);
  }
  header {
    font-size: 18px;
    display: flex;
    justify-content: space-between
  }
  header p {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 6px;
    border-radius: 10px;
  }
  header i {
    padding-top: 8px;
    border-radius: 100px;
    color: rgba(255, 255, 255, 0.6)
  }
  footer {
    color: black;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 122px;
    font-size: 16px;
  }
  .fas:hover {
    color: #f23a3a;
  }
};

.item:hover {
  box-shadow: rgba(2, 8, 20, 0.6) 0px 1em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.195em 1em;
  transform: translateY(-3px) scale(1.06);
}


#fas-fa-heart {
  color: red;
}

#item-header {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}


// Item Page

.item-page-body {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

#item-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 28px 28px;
  border: transparent;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(2, 8, 20, 0.6) 0px 1em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.195em 1em;
  width: 50em;
  color: black;
  img {
    max-height: 250px;
    border-radius: 5px;
    max-width: 45em;
    box-shadow: rgba(2, 8, 20, 0.4) 0px 1em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.295em 1em;
  }
  #price-and-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    padding: 20px 18px;
    background-color: white;
    color: black;
  }
  #title-and-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    color: #20381f;
    font-size: 14px;
  }

}
.btn-primary {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: #f59e42;
  transform: translateY(-1px) scale(1.02);
}
.form-control {
  border: solid #20381f;
  padding: 3px 10px;
  border-radius: 10px;
  height: 40px;
}
.form-control:hover {
  background-color: #f59e42;
}

#message-seller {
  border: transparent;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: #f59e42;
  font-weight: bold;
  font-size: 20px;
  box-shadow: rgba(2, 8, 20, 0.4) 0px 1em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.295em 1em;
}
#message-seller:hover {
  transform: translateY(-1px) scale(1.02);
}

#mark-as-sold {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#mark-as-sold-btn:hover {
  transform: translateY(-1px) scale(1.02);
}

#mark-as-sold-btn {
  border: transparent;
  padding: 14px 10px;
  border-radius: 10px;
  background-color: #f59e42;
  box-shadow: rgba(2, 8, 20, 0.6) 0px 1em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.295em 1em;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}


//post-ad
h1 {
  font-family: 'Montserrat', sans-serif;
}

#postad-form {
  font-weight: bold;
  display: inline-block;
  width: 500px;
  line-height: 2em;
  font-family: 'Montserrat', sans-serif;
  input, select {
    background-color: #4a82de;
    color: white;
  }
}

#post-ad-submit {
  border: transparent;
  border: solid #4a82de 2px;
  padding: 3px 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}
#post-ad-submit:hover {
  background-color: #4a82de;
  color: white;
}

.post-ad-page {
  border: transparent;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 18px;
  padding-top: 38px;
  padding-bottom: 38px;
  padding-top: 58px;
  padding-bottom: 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  background-color: #4a82de;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  box-shadow: rgba(2, 8, 20, 0.6) 0px 1em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.295em 1em;
}

//Messages

#conversations {
  border: transparent 1px;
  background-color: white;
  border-radius: 20px;
  height: 450px;
  width: 450px;
  padding-left: 15px;
  padding-right: 8px;
  box-shadow: rgba(2, 8, 20, 0.6) 0px 1em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.295em 1em;
  p {
    padding-top: 12px;
    padding-left: 8px;
  }
  p:hover {
    transform: translateY(-1px) scale(1.02);
  }
}

.conversations-box {
  display: grid;
  justify-content: center;
  gap: 1em;
  p {
    border: solid black;
    padding: 7px;
    border-radius: 15px;
    box-shadow: rgba(2, 8, 20, 0.2) 0px 1em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.295em 1em;
  }
}

//Messages

.messages-box {
  border: solid black;
  background-color: white;
  display: flex;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin-left: 45px;
  margin-right: 45px;
  p {
    border: transparent;
    padding: 12px 12px;
    border-radius: 25px;
    box-shadow: rgba(2, 8, 20, 0.3) 0px 1em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.295em 1em;
  }
}

#message-buyer-seller {
  input {
    border: solid black;
    padding: 3px 10px;
    border-radius: 10px;
    padding-right: 220px;
    height: 50px;
    box-shadow: rgba(2, 8, 20, 0.3) 0px 1em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.295em 1em;
  }
  button {
    background-color: #4a82de;
    color: white;
    border: transparent;
    padding: 3px 10px;
    border-radius: 10px;
    width: 75px;
    justify-content: center;
    box-shadow: rgba(2, 8, 20, 0.6) 0px 1em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.295em 1em;
  }
}


//search

.search {
  display:flex;
  flex-direction: row;
}

#filter-form {
  font-weight: bold;
  display: inline-block;
  line-height: 2em;
  font-family: 'Montserrat', sans-serif;
  input, select {
    background-color: #4a82de;
    color: white;
  }
  padding-left: 50px;
  display:flex;
  flex-direction: column;
  margin-top: 250px;
}

.item-grid-search {
  padding-top: 400px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(260px, 220px));
  grid-auto-rows: 258px;
  padding: 68px 68px;
  justify-content: flex-start;
  margin-top: 200px;
}


#search-submit {
  border: transparent;
  border: solid #4a82de 2px;
  padding: 3px 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

#search-submit:hover {
  background-color: #4a82de;
  color: white;
}

#min-price {
  padding-bottom: 3px;
  border-radius: 10px;
}

#max-price {
  padding-bottom: 3px;
  margin-bottom: 10px;
  border-radius: 10px;
}
